
:root {
    --fs-0: clamp(1rem, 0.6735rem + 1.6327vi, 1.5rem);
    --fs-1: clamp(1.125rem, 0.6218rem + 2.5159vi, 2.666rem);
    --fs-2: clamp(1.2656rem, 0.5185rem + 3.2358vi, 3rem);
    --fs-3: clamp(1.4238rem, 0.3419rem + 5.4096vi, 4.7372rem);
    --fs-4: clamp(1.6018rem, 0.0629rem + 7.6945vi, 6.3147rem);
    --fs-5: clamp(1.802rem, -0.3581rem + 10.8007vi, 8.4175rem);
    --fw-1: 700;

    --main-bg-theme1: hsl(222, 26%, 31%);
    --toggle-keypad-bg-theme1: hsl(223, 31%, 20%);
    --screen-bg-theme1: hsl(224, 36%, 15%);
    --key-bg1-theme1: hsl(225, 21%, 49%);
    --key-bg2-theme1: hsl(30, 25%, 89%);
    --key-shadow1-theme1: hsl(224, 28%, 35%);
    --key-shadow2-theme1: hsl(28, 16%, 65%);
    --key-bg-toggle-theme1: hsl(6, 63%, 50%);
    --key-shadow3-theme1: hsl(6, 70%, 34%);
    --text1-theme1: hsl(221, 14%, 31%);
    --text2-theme1: hsl(0, 0%, 100%);

    --main-bg-theme2: hsl(0, 0%, 90%);
    --toggle-keypad-bg-theme2: hsl(0, 5%, 81%);
    --screen-bg-theme2: hsl(0, 0%, 93%);
    --key-bg1-theme2: hsl(185, 42%, 37%);
    --key-bg2-theme2: hsl(45, 7%, 89%);
    --key-shadow1-theme2: hsl(25, 99%, 27%);
    --key-shadow2-theme2: hsl(35, 11%, 61%);
    --key-bg-toggle-theme2: hsl(25, 98%, 40%);
    --key-shadow3-theme2: hsl(6, 70%, 34%);
    --text1-theme2: hsl(60, 10%, 19%);
    --text2-theme2: hsl(0, 0%, 100%);

    --main-bg-theme3: hsl(268, 75%, 9%);
    --toggle-keypad-bg-theme3: hsl(268, 71%, 12%);
    --screen-bg-theme3: hsl(268, 71%, 12%);
    --key-bg1-theme3: hsl(281, 89%, 26%);
    --key-bg2-theme3: hsl(30, 25%, 89%);
    --key-shadow1-theme3: hsl(285, 91%, 52%);
    --key-shadow2-theme3: hsl(268, 47%, 21%);
    --key-bg-toggle-theme3: hsl(176, 100%, 44%);
    --key-shadow3-theme3: hsl(290, 70%, 36%);
    --text1-theme3: hsl(52, 100%, 62%);
    --text2-theme3: hsl(198, 20%, 13%);
    --text3-theme3: hsl(0, 0%, 100%);

    --box-sh-dk-yellow: -1px 1px 0 var(--key-shadow2-theme1), -2px 2px 0 var(--key-shadow2-theme1), -3px 3px 0 var(--key-shadow2-theme1), -4px 4px 0 var(--key-shadow2-theme1);
    --box-sh-mb-yellow: -1px 1px 0 var(--key-shadow2-theme1), -2px 2px 0 var(--key-shadow2-theme1);
    --box-sd-mb-pressed-yellow: -1px 1px 0 var(--key-shadow2-theme1);

    --box-sh-dk-blue: -1px 1px 0 var(--key-shadow1-theme1), -2px 2px 0 var(--key-shadow1-theme1), -3px 3px 0 var(--key-shadow1-theme1), -4px 4px 0 var(--key-shadow1-theme1);
    --box-sh-mb-blue: -1px 1px 0 var(--key-shadow1-theme1), -2px 2px 0 var(--key-shadow1-theme1);
    --box-sd-mb-pressed-blue: -1px 1px 0 var(--key-shadow1-theme1);

    --box-sh-dk-red: -1px 1px 0 var(--key-shadow3-theme1), -2px 2px 0 var(--key-shadow3-theme1), -3px 3px 0 var(--key-shadow3-theme1), -4px 4px 0 var(--key-shadow3-theme1);
    --box-sh-mb-red: -1px 1px 0 var(--key-shadow3-theme1), -2px 2px 0 var(--key-shadow3-theme1);
    --box-sd-mb-pressed-red: -1px 1px 0 var(--key-shadow3-theme1);
}

@font-face {
    font-family: 'League Spartan';
    src: url(fonts/LeagueSpartan-Bold.ttf);
}

@font-face {
    font-family: 'League Spartan Semi-Bold';
    src: url(fonts/LeagueSpartan-SemiBold.ttf);
}

@font-face {
    font-family: 'League Spartan Regular';
    src: url(fonts/LeagueSpartan-Medium.ttf);
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    font-family: 'League Spartan';
    min-height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    background-color: var(--main-bg-theme1);
}

.main {
    padding: calc(5px + 1vw);
    border: 2px solid var(--toggle-keypad-bg-theme1);
    border-radius: 5px;
    width: calc(150px + 20vw);
    height: calc(300px + 15vw);
    gap: calc(5px + 1vw);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.header_wrapper {
    display: grid;
    gap: calc(5px + 1vw);
}

.header {
    display: flex;
    justify-content: space-between;
    height: calc(30px + 2vw);
    align-items: flex-end;
    padding: 1vw;
    color: var(--text2-theme1);
}

.theme_toggle {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: flex-end;
}

.theme_logo {
    font-size: calc(5px + 2vw);
    text-align: right;
    flex: 1;
}

.theme_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    font-weight: 600;
    font-family: 'League Spartan Regular';
    letter-spacing: 6px;
    font-size: 14px;
}

.toggle_switch {
    background-color: var(--toggle-keypad-bg-theme1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65px;
    height: 20px;
    border-radius: 20px;
}

/* Toggle setup */

.toggle_switch input[type="radio"]:not(:checked) + label {
    opacity: 0;
}

.toggle_switch input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0; 
}

.toggle_switch label {
    display: inline-block;
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--key-bg-toggle-theme1);
}


.logo {
    font-size: var(--fs-2);
}

.screen {
    background-color: var(--screen-bg-theme1);
    padding-inline: calc(5px + 1vw);
    padding-block: calc(10px + 2vw);
    border-radius: 10px;
}

#inputField {
    background-color: var(--screen-bg-theme1);
    text-align: right;
    font-size: var(--fs-4);
    width: 98%;
    color: var(--text2-theme1);
    font-family: 'League Spartan Semi-Bold';
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: clip;
}

.panel {
    font-family: 'League Spartan';
    padding: calc(5px + 1vw);
    border-radius: 5px;
    display: grid;
    gap: calc(5px + 1vw);
    background-color: var(--toggle-keypad-bg-theme1);
    grid-template-columns: repeat(4, 1fr);
    grid-row: span 2;
}

.reset, .equal {
    grid-column: span 2;
}

button {
    color: var(--toggle-keypad-bg-theme1);
    font-size: var(--fs-0);
    padding-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--key-bg2-theme1);
    box-shadow: var(--box-sh-mb-yellow);
    transition: transform 0.1s, background-color 0.2s;
    cursor: pointer;
}

.reset, .delete {
    color: var(--text2-theme1);
    background-color: var(--key-bg1-theme1);
    box-shadow: var(--box-sh-mb-blue);
}

button:active {
    box-shadow: var(--box-sd-mb-pressed-yellow);
    transform: scale(0.9);
}

.reset:active, .delete:active {
    box-shadow: var(--box-sd-mb-pressed-blue);
}

.equal {
    color: var(--text2-theme1);
    background-color: var(--key-bg-toggle-theme1);
    box-shadow: var(--box-sh-mb-red);
}
.equal:active {
    box-shadow: var(--box-sd-mb-pressed-red);
}

@media screen and (min-width: 500px) {
    .main {
        width: 400px;
        height: 600px;
        gap: 10px;
    }
    .header {
        height: 50px;
    }
    .theme_logo {
        font-size: 14px;
    }
    .screen {
        padding-inline: 15px;
        padding-block: 45px;
    }
    #inputField {
        font-size: 56px;
    }
    .panel {
        gap: 20px;
        padding: 20px;
    }
    button {
        font-size: 32px;
        box-shadow: var(--box-sh-dk-yellow);
    }
    button:active {
        box-shadow: var(--box-sh-mb-yellow);
    }
    .reset, .delete {
        box-shadow: var(--box-sh-dk-blue);
    }
    .reset:active, .delete:active {
        box-shadow: var(--box-sh-mb-blue);
    }
    .equal {
        box-shadow: var(--box-sh-dk-red);
    }
    .equal:active {
        box-shadow: var(--box-sh-mb-red);
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    color: hsl(227, 16%, 89%); 
    margin-top: 5px;
}

.attribution a {
    color: bisque;
    line-height: 1.2;
}